@import "tailwindcss";

@layer components {
    .card {
      background-color: var(--color-green-950);
      border-radius: var(--rounded-lg);
      padding: var(--spacing-6);
      box-shadow: var(--shadow-xl);
    }
    .primary-color {
        background-color: #880d1e;
        color: white;
    }

    .secondary-color {
        background-color: #FFC8C8;
        color: #880d1e;
    }

    .tertiary-color {
        background-color: #f5f3f4;
        color: black;
    }

    .primary-text {
        color: #880d1e;
    }

    .secondary-text {
        color: #FFC8C8;
    }

    @font-face {
        font-family: Poppins;
        font-style: normal;
        font-weight: 300 900;
        font-display: swap;
        src: url("assets/font/poppins/") format("woff2");
      }
  }

  .primary-font {
    font-family: Poppins;
    src: url("assets/font/poppins/poppins-v5-latin-300.woff2") format("woff2");
  }


